doctype html
html(lang="ru")
	head
		include pugs/head
	body
		include pugs/header
		main.page
			include pugs/main
			include pugs/products
			include pugs/rooms
			include pugs/tips
			include pugs/furniture
		include pugs/footer