section.page__furniture.furniture
	.furniture__container
		.furniture__label Share your setup with
		h2.furniture__title.title #FuniroFurniture
		.furniture__body(data-speed = "0.02")
			.furniture__items
				.furniture__column
					.row-furniture.row-furniture__left-top
						a(href="../images/furniture/09.jpg").row-furniture__item
							img(src="../images/furniture/09.jpg", alt="img")
						a(href="../images/furniture/01.jpg").row-furniture__item
							img(src="../images/furniture/01.jpg", alt="img")
						a(href="../images/furniture/02.jpg").row-furniture__item
							img(src="../images/furniture/02.jpg", alt="img")
					.row-furniture.row-furniture__left-bottom
						a(href="../images/furniture/04.jpg").row-furniture__item
							img(src="../images/furniture/04.jpg", alt="img")
						a(href="../images/furniture/06.jpg").row-furniture__item
							img(src="../images/furniture/06.jpg", alt="img")
						a(href="../images/furniture/07.jpg").row-furniture__item
							img(src="../images/furniture/07.jpg", alt="img")
				.furniture__column
					.row-furniture.row-furniture__center
						a(href="../images/furniture/03.jpg").row-furniture__item
							img(src="../images/furniture/03.jpg", alt="img")
				.furniture__column
					.row-furniture.row-furniture__right-top
						a(href="../images/furniture/04.jpg").row-furniture__item
							img(src="../images/furniture/04.jpg", alt="img")
						a(href="../images/furniture/05.jpg").row-furniture__item
							img(src="../images/furniture/05.jpg", alt="img")
						a(href="../images/furniture/01.jpg").row-furniture__item
							img(src="../images/furniture/01.jpg", alt="img")
					.row-furniture.row-furniture__right-bottom
						a(href="../images/furniture/08.jpg").row-furniture__item
							img(src="../images/furniture/08.jpg", alt="img")
						a(href="../images/furniture/09.jpg").row-furniture__item
							img(src="../images/furniture/09.jpg", alt="img")
						a(href="../images/furniture/06.jpg").row-furniture__item
							img(src="../images/furniture/06.jpg", alt="img")