section.page__main-slider.main-slider
	.main-slider__container.container 
		.main-slider__body 
			.main-slider__content.content-main
				h1.content-main__title High-Quality Furniture Just For You
				.content-main__text Our furniture is made from selected and best quality materials that are suitable for your dream home
				a(href="#").content-main__button.btn Shop Now
			.main-slider__slider.slider-main(data-slider="main")
				.slider-main__controls.controls-slider-main(data-slider="control")
						.controls-slider-main__dotts.swiper-bullets
							span.swiper-bullet.swiper-bullet-active
						.controls-slider-main__arrows.slider-arrows 
							button(type="button").slider-arrow.slider-arrow__prev.icon-arrow-down
							button(type="button").slider-arrow.slider-arrow__next.icon-arrow-down
				.slider-main__body(data-slider="body")
					.slider-main__slider.active
						img(src="../images/main-slider/01.jpg", alt="Slider1")
						a(href="#").slider-main__content
								.slider-main__title Bohauss
								.slider-main__text Luxury big sofa 2-seat
								.slider-main__price.icon-arrow-link Rp 17.000.000
					.slider-main__slider
						img(src="../images/main-slider/02.jpg", alt="Slider2")
						a(href="#").slider-main__content
								.slider-main__title Bohauss2
								.slider-main__text Luxury big sofa 3-seat
								.slider-main__price.icon-arrow-link Rp 559.000.000
					.slider-main__slider
							img(src="../images/main-slider/03.jpg", alt="Slider3")
							a(href="#").slider-main__content
								.slider-main__title Bohauss3
								.slider-main__text Luxury big sofa 4-seat
								.slider-main__price.icon-arrow-link Rp 7.000.000
					.slider-main__slider
							img(src="https://salon.ru/storage/thumbs/gallery/252/251852/5000_5000_s381.jpg", alt="Slider3")
							a(href="#").slider-main__content
								.slider-main__title Bohauss!!!!!
								.slider-main__text Luxury big sofa 88-seat
								.slider-main__price.icon-arrow-link Rp 999.000.000

					