section.page__rooms.rooms 
	.rooms__container.container 
		.rooms__body
			h2.rooms__title.title 50+ Beautiful rooms inspiration
			p.rooms__text Our designer already made a lot of beautiful prototipe of rooms that inspire you
			a(href="#").rooms__button.btn Explore More
		.rooms__slider.slider-rooms(data-slider="main")
			.slider-rooms__body(data-slider="body")
				.slider-rooms__slide.active
					.slider-rooms__image 
						img(src="../images/rooms/01.jpg", alt="rooms1")
					a(href="#").slider-rooms__content.icon-arrow-link
						.slider-rooms_label.label-slider
							.label-slider__number 01
							.label-slider__line 
							.label-slider__text Bed Room
						.slider-rooms__title Inner Peace
				.slider-rooms__slide
					.slider-rooms__image 
						img(src="../images/rooms/02.jpg", alt="rooms2")
					a(href="#").slider-rooms__content.icon-arrow-link
						.slider-rooms_label.label-slider
							.label-slider__number 02
							.label-slider__line 
							.label-slider__text Bed Room
						.slider-rooms__title Inner Peace
				.slider-rooms__slide
					.slider-rooms__image 
						img(src="../images/rooms/03.jpg", alt="rooms3")
					a(href="#").slider-rooms__content.icon-arrow-link
						.slider-rooms__label.label-slider
							.label-slider__number 03
							.label-slider__line 
							.label-slider__text Bed Room
						.slider-rooms__title Inner Peace
			.slider-rooms__arrows.slider-arrows(data-slider="control")
				button(type="button").slider-arrow.slider-arrow_white.slider-arrow__prev.icon-arrow-down
				button(type="button").slider-arrow.slider-arrow_white.slider-arrow__next.icon-arrow-down
			.slider-rooms__dotts.swiper-bullets
				span.swiper-bullet.swiper-bullet-active
