section.page__tips.tips 
	.tips__container.container 
		h2.tips__title.title Tips & Tricks
		.tips__slider.slider-tips(data-slider="main")
			.slider-tips__body(data-slider="body")
				.slider-tips__slide.active
					a(href="#").slider-tips__image 
						img(src="../images/tips/01.jpg", alt="tips1")
					.slider-tips__content
						a(href="#").slider-tips__title How to create a living room to love
						.slider-tips__text 20 jan 2020
				.slider-tips__slide
					a(href="#").slider-tips__image 
						img(src="../images/tips/02.jpg", alt="tips2")
					.slider-tips__content
						a(href="#").slider-tips__title Solution for clean look working space
						.slider-tips__text 10 jan 2020
				.slider-tips__slide
					a(href="#").slider-tips__image 
						img(src="../images/tips/03.jpg", alt="tips3")
					.slider-tips__content
						a(href="#").slider-tips__title Make your cooking activity more fun with good setup
						.slider-tips__text 20 jan 2020
			.slider-tips__dotts.swiper-bullets
				span.swiper-bullet.swiper-bullet-active
			.slider-tips__arrows.slider-arrows(data-slider="control")
				button(type="button").slider-arrow.slider-arrow_white.slider-arrow__prev.icon-arrow-down
				button(type="button").slider-arrow.slider-arrow_white.slider-arrow__next.icon-arrow-down